<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>   
  <system.serviceModel>
    <bindings>      
      <basicHttpBinding>
        <binding name="AfisIdemia" messageEncoding="Mtom"/>        
      </basicHttpBinding>    
    </bindings>
    <client>
      <endpoint address="http://172.28.46.205:8081/TransactionMBISWeb/"
        binding="basicHttpBinding" bindingConfiguration="AfisIdemia"
        contract="AfisIdemia.Transaction" name="AfisIdemia" />      
    </client>
  </system.serviceModel>
</configuration>